.cart {
  width: 85vw;
  padding: 2rem;
  text-align: center;
}

.table {
  width: 85%;
  margin: 0 auto;
  vertical-align: middle;
}

.icon > i:hover {
  color: rgb(255, 0, 0);
  font-size: x-large;
  cursor: pointer;
}
