.mypage {
  width: 85vw;
  padding: 2rem;
  text-align: center;
}

.recommand {
  width: 15vw;
  padding: 1rem;
  text-align: center;
  align-content: center;
}

.recomendWrap > div {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  margin: 1rem auto;
}
