.order {
  width: 33vw;
}

.product {
  width: 67vw;
  text-align: center;
  padding: 2rem 4rem;
}

.orderbox {
  height: fit-content;
  padding: 1rem;
  box-shadow: 3px 3px 10px grey;
}

.quantity {
  padding: 0.4rem;
  font-size: 18px;
  text-align: center;
  width: 100px;
}

.table {
  text-align: left;
  margin-bottom: 5rem;
}
