html,
body {
  padding: 0;
  margin: 0;
  font-family: "rBC1R_TkgdvXlXY8FF2VsPmaosg", Sunflower, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "rBC1R_TkgdvXlXY8FF2VsPmaosg", sans-serif;
}

@font-face {
  font-family: "AjwolahSsnvB7x4vKXxBgx-uvwc";
  font-weight: 200;
  src: url("../public/font/AjwolahSsnvB7x4vKXxBgx-uvwc.ttf") format("truetype");
}

@font-face {
  font-family: "rBC1R_TkgdvXlXY8FF2VsPmaosg";
  font-weight: 400;
  src: url("../public/font/rBC1R_TkgdvXlXY8FF2VsPmaosg.ttf") format("truetype");
}
