.notice {
  width: 85vw;
  padding: 2rem;
}

.notice > h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.recommand {
  width: 15vw;
  padding: 1rem;
  text-align: center;
  align-content: center;
}

.recommandwrap > div {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  margin: 1rem auto;
}

.buttonarea {
  display: flex;
  justify-content: space-between;
}
